<!doctype html>
<html class="no-js h-100" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Home</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="${ctxPath}/static/new/css/bootstrap.min.css">
    <link rel="stylesheet" id="main-stylesheet" data-version="1.1.0" href="${ctxPath}/static/new/styles/shards-dashboards.1.1.0.min.css">
    <link rel="stylesheet" href="${ctxPath}/static/new/styles/extras.1.1.0.min.css">
    <script async defer src="${ctxPath}/static/new/js/buttons.js"></script>
</head>
<body class="h-100">
            <div class="main-content-container container-fluid px-4">
                <!-- Page Header -->
                <div class="page-header row no-gutters py-4">
                    <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                        <span class="text-uppercase page-subtitle">AgriOrigin</span>
                        <h3 class="page-title">鸡蛋区块链溯源系统</h3>
                    </div>
                </div>
                <!-- End Page Header -->
                <!-- Small Stats Blocks -->
                <div class="row">
                    <div class="col-lg col-md-6 col-sm-6 mb-4">
                        <div class="stats-small stats-small--1 card card-small">
                            <div class="card-body p-0 d-flex">
                                <div class="d-flex flex-column m-auto">
                                    <div class="stats-small__data text-center">
                                        <span class="stats-small__label text-uppercase">访问量</span>
                                        <h6 class="stats-small__value count my-3">2,390</h6>
                                    </div>
                                    <div class="stats-small__data">
                                        <span class="stats-small__percentage stats-small__percentage--increase">4.7%</span>
                                    </div>
                                </div>
                                <canvas height="120" class="blog-overview-stats-small-1"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg col-md-6 col-sm-6 mb-4">
                        <div class="stats-small stats-small--1 card card-small">
                            <div class="card-body p-0 d-flex">
                                <div class="d-flex flex-column m-auto">
                                    <div class="stats-small__data text-center">
                                        <span class="stats-small__label text-uppercase">成交量</span>
                                        <h6 class="stats-small__value count my-3">182</h6>
                                    </div>
                                    <div class="stats-small__data">
                                        <span class="stats-small__percentage stats-small__percentage--increase">12.4%</span>
                                    </div>
                                </div>
                                <canvas height="120" class="blog-overview-stats-small-2"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg col-md-4 col-sm-6 mb-4">
                        <div class="stats-small stats-small--1 card card-small">
                            <div class="card-body p-0 d-flex">
                                <div class="d-flex flex-column m-auto">
                                    <div class="stats-small__data text-center">
                                        <span class="stats-small__label text-uppercase">溯源记录</span>
                                        <h6 class="stats-small__value count my-3">3</h6>
                                    </div>
                                    <div class="stats-small__data">
                                        <span class="stats-small__percentage stats-small__percentage--decrease">3.8%</span>
                                    </div>
                                </div>
                                <canvas height="120" class="blog-overview-stats-small-3"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg col-md-4 col-sm-6 mb-4">
                        <div class="stats-small stats-small--1 card card-small">
                            <div class="card-body p-0 d-flex">
                                <div class="d-flex flex-column m-auto">
                                    <div class="stats-small__data text-center">
                                        <span class="stats-small__label text-uppercase">节点数</span>
                                        <h6 class="stats-small__value count my-3">1</h6>
                                    </div>
                                    <div class="stats-small__data">
                                        <span class="stats-small__percentage stats-small__percentage--increase"></span>
                                    </div>
                                </div>
                                <canvas height="120" class="blog-overview-stats-small-4"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg col-md-4 col-sm-12 mb-4">
                        <div class="stats-small stats-small--1 card card-small">
                            <div class="card-body p-0 d-flex">
                                <div class="d-flex flex-column m-auto">
                                    <div class="stats-small__data text-center">
                                        <span class="stats-small__label text-uppercase">区块链</span>
                                        <h6 class="stats-small__value count my-3">开启</h6>
                                    </div>
                                    <div class="stats-small__data">
                                        <span class="stats-small__percentage stats-small__percentage--decrease"></span>
                                    </div>
                                </div>
                                <canvas height="120" class="blog-overview-stats-small-5"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Small Stats Blocks -->
                <div class="row">
                    <!-- Users Stats -->
                    <div class="col-lg-8 col-md-12 col-sm-12 mb-4">
                        <div class="card card-small">
                            <div class="card-header border-bottom">
                                <h6 class="m-0">合肥鸡蛋价格走势(元/5kg)</h6>
                            </div>
                            <div class="card-body pt-0">
                                <canvas height="130" style="max-width: 100% !important;" class="blog-overview-users"></canvas>
                            </div>
                        </div>
                    </div>
                    <!-- End Users Stats -->
                    <!-- Users By Device Stats -->
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                        <div class="card card-small h-100">
                            <div class="card-header border-bottom">
                                <h6 class="m-0">用户登录设备分布</h6>
                            </div>
                            <div class="card-body d-flex py-0">
                                <canvas height="220" class="blog-users-by-device m-auto"></canvas>
                            </div>
                        </div>
                    </div>
                    <!-- End Users By Device Stats -->
                    <!-- New Draft Component -->
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                        <!-- Quick Post -->
                        <div class="card card-small h-100">
                            <div class="card-header border-bottom">
                                <h6 class="m-0">关于我们</h6>
                            </div>
                            <div class="card-body d-flex flex-column">
                                "AgriOrigin"--基于区块链的鸡蛋商业溯源平台采用一盒一码的方式实现对农产品的溯源，运用区块链技术对二维码信息进行保护，防止其信息被更改，最终实现消费者通过扫描商品盒上的二维码就能获取该农产品的详细信息，让消费者放心使用。我们通过与企业进行合作，为企业、消费者提供服务，实现盈利和后续开发。
                                我们以将企业提供的每盒鸡蛋作为单独溯源对象，实现从生产到销售全部环节的数据记录，生成由区块链溯源技术支持的定制防伪二维码，并粘贴到合格的产品上，提供给消费者查询。
                            </div>
                        </div>
                        <!-- End Quick Post -->
                    </div>
                    <!-- End New Draft Component -->
                    <!-- Discussions Component -->
                    <div class="col-lg-5 col-md-12 col-sm-12 mb-4">
                        <div class="card card-small blog-comments">
                            <div class="card-header border-bottom">
                                <h6 class="m-0">关于我们</h6>
                            </div>
                            <div class="card-body p-0">
                                <div class="blog-comments__item d-flex p-3">
                                    <div class="blog-comments__avatar mr-3">
                                        <img src="${ctxPath}/static/new/images/avatars/1.jpg" alt="User avatar" /> </div>
                                    <div class="blog-comments__content">
                                        <div class="blog-comments__meta text-muted">
                                            <a class="text-secondary" href="#">新农创客队1</a> on
                                            <a class="text-secondary" href="#">后台开发设计</a>
                                            <span class="text-muted">– 3 days ago</span>
                                        </div>
                                        <p class="m-0 my-1 mb-2 text-muted">欢迎来到agriorigin</p>
                                    </div>
                                </div>
                                <div class="blog-comments__item d-flex p-3">
                                    <div class="blog-comments__avatar mr-3">
                                        <img src="${ctxPath}/static/new/images/avatars/2.jpg" alt="User avatar" /> </div>
                                    <div class="blog-comments__content">
                                        <div class="blog-comments__meta text-muted">
                                            <a class="text-secondary" href="#">新农创客队2</a> on
                                            <a class="text-secondary" href="#">前端UI设计</a>
                                            <span class="text-muted">– 4 days ago</span>
                                        </div>
                                        <p class="m-0 my-1 mb-2 text-muted">欢迎来到agriorigin</p>
                                    </div>
                                </div>
                                <div class="blog-comments__item d-flex p-3">
                                    <div class="blog-comments__avatar mr-3">
                                        <img src="${ctxPath}/static/new/images/avatars/3.jpg" alt="User avatar" /> </div>
                                    <div class="blog-comments__content">
                                        <div class="blog-comments__meta text-muted">
                                            <a class="text-secondary" href="#">新农创客队3</a> on
                                            <a class="text-secondary" href="#">区块链设计</a>
                                            <span class="text-muted">– 5 days ago</span>
                                        </div>
                                        <p class="m-0 my-1 mb-2 text-muted">欢迎来到agriorigin</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Discussions Component -->
                    <!-- Top Referrals Component -->
                    <div class="col-lg-3 col-md-12 col-sm-12 mb-4">
                        <div class="card card-small">
                            <div class="card-header border-bottom">
                                <h6 class="m-0">我们的合作</h6>
                            </div>
                            <div class="card-body p-0">
                                <ul class="list-group list-group-small list-group-flush">
                                    <li class="list-group-item d-flex px-3">
                                        <span class="text-semibold text-fiord-blue">安徽农业大学</span>
                                        <span class="ml-auto text-right text-semibold text-reagent-gray">100</span>
                                    </li>
                                    <li class="list-group-item d-flex px-3">
                                        <span class="text-semibold text-fiord-blue">新农创客队</span>
                                        <span class="ml-auto text-right text-semibold text-reagent-gray">100</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End Top Referrals Component -->
                </div>
            </div>
        </main>
    </div>
</div>
<script src="${ctxPath}/static/new/scripts/jquery-3.3.1.min.js"></script>
<script src="${ctxPath}/static/new/scripts/popper.min.js"></script>
<script src="${ctxPath}/static/new/scripts/bootstrap.min.js"></script>
<script src="${ctxPath}/static/new/scripts/Chart.min.js"></script>
<script src="${ctxPath}/static/new/scripts/shards.min.js"></script>
<script src="${ctxPath}/static/new/scripts/jquery.sharrre.min.js"></script>
<script src="${ctxPath}/static/new/scripts/extras.1.1.0.min.js"></script>
<script src="${ctxPath}/static/new/scripts/shards-dashboards.1.1.0.min.js"></script>
<script src="${ctxPath}/static/new/scripts/app/app-blog-overview.1.1.0.js"></script>
</body>
</html>