@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                    物流中心编号<#input id="id" name="" value="${item.id}" underline="true" readonly="readonly"/>
                    物流中心名称<#input id="物流中心名称" name="" value="${item.物流中心名称}" underline="true"/>
                    地址<#input id="地址" name="" value="${item.地址}" />
                </div>

                <div class="col-sm-6">
                    电话号码<#input id="电话号码" name="" value="${item.电话号码}" underline="true"/>
                    邮编<#input id="邮编" name="" value="${item.邮编}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="物流中心InfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="物流中心InfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/物流中心/物流中心_info.js"></script>
@}
